{% extends 'quotesapp/base.html' %}

{% block content %}
<form method="POST" action="{% url 'quotesapp:addtag' %}">
    {% csrf_token %}
    <div class="form-field">
        <label class="form-label">
            <span class="form-text">Tag: </span>{{form.name}}
        </label>
        <span>{{form.errors.name}}</span>
    </div>

    <div class="form-button-block">
        <button type="submit" class="form-button">Save</button>
        <button type="reset" class="form-button">Reset</button>
    </div>
</form>
{% endblock %}